[submodule "flaw-font-fthb/src/freetype"]
	path = flaw-font-fthb/src/freetype
	url = https://gitlab.com/quyse/freetype2.git
[submodule "flaw-font-fthb/src/harfbuzz"]
	path = flaw-font-fthb/src/harfbuzz
	url = git://github.com/behdad/harfbuzz.git
[submodule "flaw-font-fthb/src/ucdn"]
	path = flaw-font-fthb/src/ucdn
	url = https://github.com/grigorig/ucdn.git
