body {
	background: #fff;
	color: #000;
}
.hs-keyglyph, .hs-layout {color: #f93c32;}
.hs-keyword {color: #ffa500;}
.hs-comment, .hs-comment a {color: #b6bde0;}
.hs-str, .hs-chr {color: #62ff00;}
.hs-keyword, .hs-conid, .hs-varid, .hs-conop, .hs-varop, .hs-num, .hs-cpp, .hs-sel, .hs-definition {}
